@import "base/fonts";

@mixin table-font($width) {
    border: 1px solid $grey;
    width: $width;
}

%contactus-info-table{
    @include table-font(100%);
    border-collapse: separate;
    border-spacing: 0px;

    th{
        @include table-font(20%);
        @include roboto($black, 14px, 7);
        text-align: center;
    } 
    
    td{
        @include table-font(20%);
        @include roboto($black, 13px, 4);
        line-height: 28px;
    }

    .edit-action{
        text-align: center;
    }
}