@mixin main-section($height, $justify){
    width: 1440px;
    margin: 0px auto;
    display: flex;
    height: $height;
    justify-content: $justify;
}

//form
@mixin form-input($height) {
    width: 182px;
    border-radius: 8px;
    border: 1px solid #979797;
    margin: 4px 0px 8px 0px;
    height: $height;
}