@import "base/fonts";
@import "components/buttons";
@import "components/images";
@import "layout/layout";

body {
    margin: 0px;
}

.header-ccf {
    @include main-section(100px, space-between);

    .home-logo-ccf {
        width: 340px;

        .ccf-logo {
            @extend %ccf-logo;
        }
    }

    .main-btns {
        width: 200px;
        display: flex;

        .home-btn {
            @include bigcircle-btn(30px, 27px, "../images/home.svg");
        }

        .search-btn {
            @include bigcircle-btn(26px, 26px, "../images/search.svg");
        }
    }

    .menu-nav {
        width: 555px;
        display: flex;
        justify-content: space-between;

        .nav-btn {
            @extend %big-btn;

            .down-icon {
                margin-left: 8px;
            }
        }
    }

    .social-media {
        width: 185px;
        padding-right: 152px;
        display: flex;
        justify-content: flex-end;

        .social-media-btn {
            @include bigcircle-btn(0, 0, "#");
            text-decoration: none;
            margin: 29px 0px 29px 17px;
        }

        .media-icon {
            color: #a0a0a0;
        }
    }
}

.banner-section {
    @extend %banner-section;

    .display-section {
        @extend %banner-section;
        max-width: 1440px;
        margin: 0px auto;
        align-items: center;
        position: relative;

        h1 {
            @include roboto($purple, 64px, 7);
            text-shadow: 1px 1px 3px rgba(178, 178, 178, 0.5);
            margin-left: 150px;
            position: absolute;
            z-index: 1;
        }

        .main-img {
            @extend %main-image;
        }
    }
}

.nav-sect {
    @include main-section(64px, flex-start);

    .page-nav {
        padding-top: 37px;
        margin-left: 150px;

        a {
            @include roboto($grey, 18px, 4);
        }

        :focus {
            color: $orange;
        }
    }
}

.info-sect {
    @include main-section(725px, center);
    margin-bottom: 50px;

    .form-info {
        width: 610px;
        display: flex;
        justify-content: flex-end;

        h2 {
            @include roboto($purple, 36px, 4);
            width: 422px;
            text-align: right;
            margin-top: 108px;

            span {
                font-weight: $base-weight * 3;
            }
        }
    }

    .contact-form {
        width: 750px;
        padding-left: 80px;

        h3 {
            @include roboto($purple, 18px, 7);
            margin: 122px 0px 30px 0px;
        }

        abbr {
            color: $red;
            text-decoration: none;
        }

        .form-sect {
            display: flex;
            justify-content: flex-start;
            height: 80px;

            .input-group {
                margin-right: 30px;
            }
        }

        .labels {
            @include roboto($black, 16px, 7);
        }

        .required-text {
            @include roboto($red, 10px, 4);
        }

        .form-input {
            @include form-input(25px);
        }

        .form-select {
            @include form-input(30px);
            width: 220px;
        }

        .form-txt {
            @include form-input(118px);
            width: 512px;
        }

        .submit-btn {
            @extend %submit-btn;

            .submit-icon {
                width: 8px;
                height: 14px;
                margin-left: 18px;
                opacity: 0.6;
            }
        }
    }
}

.centers-info {
    @include main-section(630px, center);

    .card {
        @extend %card;
        
        .center-name {
            @include roboto($light-blue, 20px, 7);
            text-align: center;
            margin-bottom: 30px;
        }

        .subtitle {
            @include roboto($purple, 17px, 7);
        }

        .sub-info {
            @include roboto($purple, 17px, 4);
        }
    }
}
