@import "base/fonts";
@import "components/buttons";
@import "components/images";
@import "components/spinner";
@import "components/tables";
@import "components/tags";
@import "layout/bannner";
@import "layout/cards";
@import "layout/layout";
@import "base/medias";

body {
    margin: 0px;
}

.header-ccf {
    @include main-section(100px, space-between);
    @include xs() {
        width: 411px;
        height: 60px;
    }

    .home-logo-ccf {
        width: 340px;

        .ccf-logo {
            @include ccf-logo;
        }
        //mobile
        @include xs() {
            width: 148px;

            .ccf-logo {
                @include ccf-logo-xs;
            }
        }
    }

    .main-btns {
        width: 200px;
        display: flex;

        .home-btn {
            @include bigcircle-btn(30px, 27px, "../images/home.svg");
        }

        .search-btn {
            @include bigcircle-btn(26px, 26px, "../images/search.svg");
        }
        //mobile
        @include xs() {
            width: 203px;

            .home-btn {
                @include bigcircle-btn-xs(22px, 22px, "../images/home.svg");
            }

            .search-btn {
                @include bigcircle-btn-xs(22px, 22px, "../images/search.svg");
            }
        }
    }

    .menu-nav {
        width: 555px;
        display: flex;
        justify-content: space-between;

        .nav-btn {
            @extend %big-btn;

            .down-icon {
                margin-left: 8px;
            }
        }
        //mobile
        @include xs() {
            display: none;
        }
    }

    .social-media {
        width: 185px;
        padding-right: 152px;
        display: flex;
        justify-content: flex-end;

        .social-media-btn {
            @include bigcircle-btn(0, 0, "#");
            text-decoration: none;
            margin: 29px 0px 29px 17px;
        }

        .media-icon {
            color: #a0a0a0;
        }
        //mobile
        @include xs() {
            display: none;
        }
    }

    .hamburger-menu {
        display: none;
        //mobile
        @include xs() {
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .hamburger-icon {
                margin-right: 20px;
                color: $light-blue;
            }
        }
    }
}

.banner-section {
    @include banner-section(310px);

    .display-section {
        @include display-section(1440px);

        .banner-title {
            @include roboto($purple, 64px, 7);
            text-shadow: 1px 1px 3px rgba(178, 178, 178, 0.5);
            margin-left: 150px;
            z-index: 1;
            position: absolute;
        }

        .main-img {
            @extend %main-image;
        }

        .main-img-xs {
            display: none;
        }
    }

    @include xs() {
        @include banner-section(166px);

        .display-section {
            @include display-section(100%);

            .banner-title {
                @include roboto($purple, 30px, 7);
                margin-left: 20px;
            }

            .main-img {
                display: none;
            }

            .main-img-xs {
                display: block;
                position: absolute;
                right: 0;
                z-index: 0;
            }
        }
    }
}

.nav-sect {
    @include main-section(64px, flex-start);

    .page-nav {
        padding-top: 37px;
        margin-left: 150px;

        a {
            @include roboto($grey, 18px, 4);
        }

        :focus {
            color: $orange;
        }
    }

    @include xs(){
        @include main-section(43px, flex-start);
        width: 100%;

        .page-nav{
            padding-top: 16px;
            margin-left: 16px;

            a {
                @include roboto($grey, 14px, 4);
            }
        }
    }
}

.info-sect {
    @include main-section(725px, space-between);
    margin-bottom: 50px;

    .form-info {
        width: 610px;
        display: flex;
        justify-content: flex-end;

        h2 {
            @include roboto($purple, 36px, 4);
            width: 422px;
            text-align: right;
            margin-top: 108px;

            span {
                font-weight: $base-weight * 3;
            }
        }
    }

    .contact-form {
        width: 750px;

        h3 {
            @include roboto($purple, 18px, 7);
            margin: 122px 0px 30px 0px;
        }

        abbr {
            color: $red;
            text-decoration: none;
        }

        .form-sect {
            display: flex;
            justify-content: flex-start;
            height: 90px;

            .input-group {
                margin-right: 30px;
            }
        }

        .form-group{
            height: 90px;
        }

        .labels {
            @include roboto($black, 16px, 7);
        }

        .required-text {
            @include roboto($red, 10px, 4);
        }

        .form-input {
            @include form-input(25px);
        }

        .form-select {
            @include form-input(30px);
            width: 220px;
        }

        .form-txt {
            @include form-input(118px);
            width: 512px;
        }

        .submit-btn {
            @extend %submit-btn;

            .submit-icon {
                width: 8px;
                height: 14px;
                margin-left: 18px;
                opacity: 0.6;
            }
        }
    }

    @include xs(){
        @include main-section(1090px, center);
        width: 100%;
        display: block;

        .form-info{
            width: 100%;
            justify-content: center;

            h2{
                @include roboto($purple, 28px, 4);
                margin: 35px 17px;
                text-align: center;
            }
        }

        .contact-form{
            width: 377px;
            margin: 0px auto;

            h3{
                margin: 7px 0px 30px 0px;
            }

            .form-sect{
                display: block;
                height: 172px;
            }

            .required-text{
                margin-bottom: 14px;
            }

            .form-txt{
                width: 375px;
            }

            .submit-btn{
                margin: 0px auto;
            }
        }
    }
}

.centers-info {
    @include main-section(630px, center);

    .card {
        @include card;

        .center-name {
            @include roboto($light-blue, 20px, 7);
            text-align: center;
            margin-bottom: 30px;
        }

        .subtitle {
            @include roboto($purple, 17px, 7);
        }

        .sub-info {
            @include roboto($purple, 17px, 4);
        }
    }

    @include xs(){
        @include main-section(900px, center);
        width: 100%;
        display: block;

        .card {
            @include card-xs;
            
            .center-name{
                @include roboto($light-blue, 18px, 7);
            }

            .subtitle {
                @include roboto($purple, 14px, 7);
            }
    
            .sub-info {
                @include roboto($purple, 14px, 4);
            }
        }
    }
}

// db.html
.search-bar{
    @include main-section(100%, flex-start);
    height: 66px;
    align-items: center;

    .search-form{
        width: 100%;
        display: flex;
        align-items: center;

        .labels{
            @include roboto($black, 16px, 4);
        }

        .tag-container{
            padding: 0px;

            .search-tag{
                @extend %search-tags;
            }
        }

        .search-input{
            @include form-input(27px);
            width: 250px;
            margin: 0px 5px;
        }
    
        .search-btn {
            @include bigcircle-btn(26px, 26px, "../images/search.svg");
            margin: 0px 5px;
        }
    }
}

.view-ct-us-table{
    @include main-section(100%, center);
    max-height: 660px;
    margin-bottom: 12px;
    overflow: auto;

    .contactus-info-table{
        @extend %contactus-info-table;

        .order-by{
            @extend %order-by;
            display: inline-block;
        }

        .edit-info{
            @extend %edit-info;
        }
    }

    .no-content {
        @include roboto($light-blue, 20px, 7);
    }
}

.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    opacity: 0.3;
    z-index: 100;

    .lds-ripple{
        @extend %lds-ripple;
    }
}

.pag-nav {
    @include main-section(100%, center);

    .pagination{
        @include main-section(50%, center);
        align-items: center;
        margin-bottom: 6px;

        .labels{
            @include roboto($black, 16px, 4);
        }

        .pag-btn{
            @extend %pag-btn;
        }

        .page-opt{
            @include form-input(30px);
            width: 50px;
            margin: 0px 4px;
        }
    }
}

// detailedInfo.html
.info-to-edit{
    @include main-section(100%, center);
    margin-top: 30px;

    .edit-info{
        width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            @include roboto($purple, 18px, 7);
            margin: 122px 0px 30px 0px;
        }

        abbr {
            color: $red;
            text-decoration: none;
        }

        .form-sect {
            display: flex;
            justify-content: flex-start;
            height: 90px;

            .input-group {
                margin-right: 30px;
            }
        }

        .form-group{
            height: 90px;
            display: flex;
            flex-direction: column;
        }

        .labels {
            @include roboto($black, 16px, 7);
        }

        .required-text {
            @include roboto($red, 10px, 4);
        }

        .form-input {
            @include form-input(25px);
            width: 250px;
        }

        .form-select {
            @include form-input(30px);
            width: 543px;
        }

        .form-txt {
            @include form-input(118px);
            width: 538px;
        }
    }
}

.send-changes-btn{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;

    .submit-btn {
        @extend %submit-btn;

        .submit-icon {
            width: 8px;
            height: 14px;
            margin-left: 18px;
            opacity: 0.6;
        }
    }
}